node_modules

.vscode-test
.idea

dist
out
bugs

.vscode-test
.vscode/settings.json

commands.json
keybinds.json
vim_keybinds.json
vscode-text-objects.sln

support_readme.md

retrospective.md
**/*.vsix
*.vsix
